* {
  box-sizing: border-box;x;
}

body {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.pl__all {
    position: relative;
  border: 4px solid cadetblue;
  width: 35%;
  height: 90%;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

header {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.pl__head-right{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pl__main{
    height: 15%;
    display: flex;
    margin-bottom: 30px;
}

.pl__main img{
    border: 2px solid black;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.pl__title{
    height: 80px;
}

.pl__title h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.pl__title h6{
    font-size: 10px;
}

.pl__center{
    height: 7.5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.pl__center-play,
.pl__center-icon{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px 2px 4px 2px;
}
.pl__center-play{
    width:50%;
    margin-left: 0px;
    border-radius: 15px;
}

.pl__center-icon{
    width:15%;
    border-radius: 50px;
}

.pl__bottom{
    height: 50%;
}

.pl__bottom li{
    display: flex;
    border: 1px solid black;
}

.pl__bottom-color{
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}

.pl__bottom-color .first{
    background-color: tomato;
}


.pl__bottom-color .second{
    background-color: pink;
}

.pl__bottom-color .third{
    background-color: blue;
}

.pl__bottom-color .last{
    background-color: darkcyan;
}

