main {
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.center {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 100px;
  height: 100px;
  background-color: wheat;
}

.center__small,
.center__big {
  background-color: teal;
}

.center__small {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.center__big {
  width: 90px;
  height: 20px;
  border: 1px dashed rgba(225, 225, 255, 1);
}
