body {
  background-color: #f5f5f5;
  padding: 0 10px;
}

h2 {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  width: 95vw;
}

.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 190px;
}

.colorbox {
  width: 80px;
  height: 120px;
  padding-top: 15px;
  margin: 5px;
  border: 2px solid white;
}

.colorbox:first-child {
  background-color: tomato;
}

.colorbox:nth-child(2) {
  background-color: teal;
}

.colorbox:nth-child(3) {
  background-color: Burlywood;
}

.colorbox:last-child {
  background-color: Thistle;
}

.colorname {
  background-color: white;
  display: block;
  height: 50px;
  padding-right: 10px;
}

.colorname > span {
  font-size: 15px;
}

.colorname span:last-child {
  font-size: 10px;
}
